= form_tag redeem_vouchers_path, method: "get" do
  .form-group
    = text_field_tag :voucher_code, nil, placeholder: "Gutscheincode"
  .form-group
    %button.btn.btn-primary.submit{type: "submit", title: "Gutschein einlösen"}
      Gutschein einlösen